body {
    background-color: lightblue;
    color: black;
    text-align: center;
}

body {
    background-color: lightblue;
    color: black;
    text-align: center;
    background-image: url("motto/comp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2000px 3000px;
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: rgb(71, 102, 104);
    text-align: center;
}

h3 {
    color: black;
    text-align: left;
}

h4 {
    color: black;
    text-align: left;
}

a {
    background-color: white;
    color: rgb(42, 42, 61);
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

ul {
    color: black;
    text-align: justify;
    display: inline-block;
}

ol {
    color: black;
    text-align: justify;
    display: inline-block;
}

img {
    border: 5px solid black;
    border-radius: 20px;
    color: black;
}

h2.name {
    color: rgb(71, 102, 104);
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
}

p.mottotoy {
    color: black;
    text-align: center;
    font-style: italic;
}

a {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
}

h3 {
    color: black;
    text-align: center ;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}

h4 {
    color: black;
    text-align: center ;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}

h3 {
    color: black;
    text-align: center ;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}

h1.my-school-goal {
    color: black;
    text-align: center ;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}

h1 {
    color: black;
    text-align: center ;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}

h2 {
    color: rgb(71, 102, 104);
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}

p {
    font-family: Georgia, serif, "Times New Roman", Times, serif;
    font-size: 17px;
    line-height: 1.6;
    text-align: center;
}

h5 {
    color: black;
    text-align: center ;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}

h6 {
    color: black;
    text-align: center ;
    font-family: 'Brush Script MT', cursive;
    font-size: 25px;
}